
:root{
    --clr-green:#b1ce55;
    --clr-grey:#f7f7f7;
}

body{
    
    font-family: 'Poppins';
}
.services{
    padding: 2rem 11rem;
}

.services .title,
.services .desc{
    text-align: center;
}

.services .desc{
    
    margin-bottom: 3rem;
}

.services h1{
    font-size: 2rem;
    margin: 0.4rem;
}

.color{
    color: var(--clr-green);
}

.services p{
    font-size: 0.9rem;
    color: grey;
}

.services .content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
}
.services .content article{
    background-color: var(--clr-grey);
}
.services .content img{
    margin-bottom: 0.3rem;
}

.content2{
    padding: 0rem 2rem;
}

.btn{
    background-color: var(--clr-green);
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 0.7rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}